
&gpio_fwd {
    status = "disabled";
};

&uart1 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <1000000>;
    hw-flow-control;
};

/ {
	chosen {
		zephyr,bt-c2h-uart = &uart1;
	};
};

