/ {
    host_interface {
        compatible = "gpio-outputs";
        status = "okay";
        timesync: pin_0 {
		    gpios = <&arduino_header 10 GPIO_ACTIVE_HIGH>;
            label = "Controller to host timesync pin";
        };
        alternate_toggle: pin_1 {
		    gpios = <&arduino_header 11 GPIO_ACTIVE_HIGH>;
            label = "alternate toggle pin";
        };
   };
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed = <1000000>;
	status = "okay";
	hw-flow-control;
};

